
<h1>Lista de peliculas</h1>

<p *ngFor="let numero of arregloNumeros">{{numero}}</p>

<p *ngIf="true"
>OCULTO</p>

<div *ngFor="let pelicula of arregloPeliculas">
  <app-carta-pelicula 
    [urlImagen]="pelicula.url" 
    [descripcion]="pelicula.descripcion" 
    [nombreBoton]="pelicula.nombrePelicula" 
    (eventoDioClicEnBoton)="mensajeConsola($event)"
    (eventoDioClicEnImagen)="mensajeConsola($event)"
  ></app-carta-pelicula>
</div>
<br>

<!-- <app-carta-pelicula 
  urlImagen="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS35tgHVHWIMD6HgZ3aaezY6KEZHi6qaz3tXg&usqp=CAU" 
  descripcion="Descripcion 2" 
  nombreBoton="Like 2"
></app-carta-pelicula> -->
<!-- <h1>Mi aplicativo</h1>

<h6>Titulo</h6>
<p>Parrafo</p>
<ul>
  <li>papa</li>
  <li>cebolla</li>
</ul>
<ol>
  <li>A</li>
  <li>B</li>
  <li>C</li>
</ol>
<img src="https://i.ytimg.com/vi/SFE94pf2SHM/maxresdefault.jpg" alt="">
<a href="https://www.google.com/search?q=pikachu+meme&rlz=1C1CHBF_esEC892EC892&sxsrf=ALeKk00cmOVFjgw4OythsUi101jk-DXhoQ:1595631110098&tbm=isch&source=iu&ictx=1&fir=tCUWK0OE95MXGM%252CblkXVooaqndYYM%252C_&vet=1&usg=AI4_-kTXoACDTn2VQyqV8H5MIOLQh9Ai4g&sa=X&ved=2ahUKEwiA4ImM_ebqAhVDiOAKHcyUAp4Q9QEwAHoECAYQEg&biw=1366&bih=657#imgrc=tCUWK0OE95MXGM">Ir a Google</a>
<button>Mi primer boton</button>
 -->